@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
}

#root {
  min-height: 100%;
}
